# Database - MySQL
DATABASE_URL="mysql://nhsortag_soro:dNu6PJPiiLo66XWz@sorokid.com:3306/nhsortag_sorokids?connection_limit=5&pool_timeout=10"

# NextAuth
NEXTAUTH_URL="https://sorokid.com"
NEXTAUTH_SECRET="wstVe5DkkFHKqTosIMpgwjRWUigLJgbYg8n04+qWjv8="

# Node environment
NODE_ENV="production"

# RUNTIME CONFIG - QUAN TRONG cho shared host
RUNTIME_ENV="shared"

# Server configuration
PORT=3000
HOSTNAME="0.0.0.0"
